*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FEFEFE;
    overflow-x: hidden;
   
}
.container-header{
    background-color: #CCABD8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;

}
.container-titulo{
    display: flex;
    align-items: center;
    margin: 70px;
    
    
   
      
}
.part1{
    display: flex;
    font-size: 0.7em;
    margin: 18px 2px 20px 2px;
    text-align: center;
}
#part1{
    color: #FEFEFE;
    background-color: #78BAB8;
    border-radius: 100%;
    padding: 25px;
}

.container-foto{
    display: flex;
    width: 33.33%;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 800;
   
}
.foto-tamanho{
    width: 400px;
    height: 300px;
    margin-left: 37px;
    
}
figure{
    margin: 0;
    padding: 0;
}

#ul-menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 15px 0px 15px 0px;
    padding: 0;
   
    
    
}

#ul-menu li{

    padding:15px 17px;
}
#ul-menu a{
    font-size: 1.3em;
    font-weight: 700;
    color: #FEFEFE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#ul-menu a:hover {
    background-color: #871BDB;
    color: #1a77b6;
  }
.container-texto{
    padding: 0;
    margin: 0;
}
p{
    padding: 0;
    margin-bottom: 20px;

}
h2{
    padding: 0;
    margin-top: 15px;
    margin-bottom: 20px;
}
.container-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: #CCABD8;
    margin: 0;
    padding:0;
   
}

.footer{
    display: flex;
    width: 33.33%;
    align-items: flex-start;
    justify-content: space-between;
}

.mini-footer{
    width: 100%;
    height: 70px;
    background-color: #b896c5;
    padding: 25px;
}
.titulo-h5{
    font-size: 1.3em;
    color: #FEFEFE;
    margin-top: 10px;
    display:flex ;
    margin-left: 20px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.campo-info{
    display: flex;
    margin-top: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    
}
.direitos{
    color:#FEFEFE;
    font-size: 1.0em;
    align-items: center;
    text-align: center;
}
